# App Config
NODE_ENV=development # production, test
APP_PORT=8000
APP_NAME="Nest Guardian"
API_PREFIX=api
DOMAIN=example.com

# PostgreSQL Config
DATABASE_TYPE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=nest-guard
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SYNCHRONIZE=true # disable in prod
DATABASE_MAX_CONNECTIONS=100
DATABASE_SSL_ENABLED=false
DATABASE_REJECT_UNAUTHORIZED=false
DATABASE_URL=
DATABASE_CA=
DATABASE_KEY=
DATABASE_CERT=

# JWT Config
AUTH_JWT_SECRET=auth_jwt_secret
AUTH_JWT_EXPIRES_IN=10m
AUTH_JWT_REFRESH_SECRET=auth_jwt_refresh_secret
AUTH_JWT_REFRESH_EXPIRES_IN=1d

# Redis Config
REDIS_HOST=localhost
REDIS_PORT=6379